<div class="container">

  <br>

  <h2>Alvaro CI</h2>

  <img src="/images/al.png" alt="">

  <br>

  <div id="app">

    <h1 id="points"></h1>

    <br>

    <div id="admin-buttons" class="hidden buttons">
      <a href="javascript:;" id="add" class="button button-large button-outline">+</a>
      &nbsp;&nbsp;&nbsp;
      <a href="javascript:;" id="remove" class="button button-black button-large button-outline">-</a>
    </div>

  </div>

</div>
